<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fline.datasecurity.zj.dao.mapper.DesensitiveMethodMapper">
  <resultMap id="BaseResultMap" type="com.fline.datasecurity.zj.dao.entity.DesensitiveMethod">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="useExplain" jdbcType="VARCHAR" property="useexplain" />
    <result column="defaultChoice" jdbcType="VARCHAR" property="defaultchoice" />
    <result column="recommend" jdbcType="VARCHAR" property="recommend" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, useExplain, defaultChoice, recommend
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from c_desensitization_method
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from c_desensitization_method
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.fline.datasecurity.zj.dao.entity.DesensitiveMethod">
    insert into c_desensitization_method (id, name, useExplain, 
      defaultChoice, recommend)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{useexplain,jdbcType=VARCHAR}, 
      #{defaultchoice,jdbcType=VARCHAR}, #{recommend,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.fline.datasecurity.zj.dao.entity.DesensitiveMethod">
    insert into c_desensitization_method
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="useexplain != null">
        useExplain,
      </if>
      <if test="defaultchoice != null">
        defaultChoice,
      </if>
      <if test="recommend != null">
        recommend,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="useexplain != null">
        #{useexplain,jdbcType=VARCHAR},
      </if>
      <if test="defaultchoice != null">
        #{defaultchoice,jdbcType=VARCHAR},
      </if>
      <if test="recommend != null">
        #{recommend,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fline.datasecurity.zj.dao.entity.DesensitiveMethod">
    update c_desensitization_method
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="useexplain != null">
        useExplain = #{useexplain,jdbcType=VARCHAR},
      </if>
      <if test="defaultchoice != null">
        defaultChoice = #{defaultchoice,jdbcType=VARCHAR},
      </if>
      <if test="recommend != null">
        recommend = #{recommend,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fline.datasecurity.zj.dao.entity.DesensitiveMethod">
    update c_desensitization_method
    set name = #{name,jdbcType=VARCHAR},
      useExplain = #{useexplain,jdbcType=VARCHAR},
      defaultChoice = #{defaultchoice,jdbcType=VARCHAR},
      recommend = #{recommend,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>