<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fline.datasecurity.zj.dao.mapper.SecurityHandlerMapper">
  <resultMap id="BaseResultMap" type="com.fline.datasecurity.zj.dao.entity.SecurityHandler">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="taskCode" jdbcType="VARCHAR" property="taskcode" />
    <result column="datasource" jdbcType="INTEGER" property="datasource" />
    <result column="secretKey" jdbcType="VARCHAR" property="secretkey" />
    <result column="targetLocation" jdbcType="VARCHAR" property="targetlocation" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="handlerType" jdbcType="INTEGER" property="handlertype" />
    <result column="lastTime" jdbcType="TIMESTAMP" property="lasttime" />
    <result column="CREATED_BY" jdbcType="VARCHAR" property="createdBy" />
    <result column="CREATED_TIME" jdbcType="TIMESTAMP" property="createdTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, taskCode, datasource, secretKey, targetLocation, state, handlerType, lastTime, 
    CREATED_BY, CREATED_TIME
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from c_security_handler
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from c_security_handler
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.fline.datasecurity.zj.dao.entity.SecurityHandler">
    insert into c_security_handler (id, taskCode, datasource, 
      secretKey, targetLocation, state, 
      handlerType, lastTime, CREATED_BY, 
      CREATED_TIME)
    values (#{id,jdbcType=INTEGER}, #{taskcode,jdbcType=VARCHAR}, #{datasource,jdbcType=INTEGER}, 
      #{secretkey,jdbcType=VARCHAR}, #{targetlocation,jdbcType=VARCHAR}, #{state,jdbcType=INTEGER}, 
      #{handlertype,jdbcType=INTEGER}, #{lasttime,jdbcType=TIMESTAMP}, #{createdBy,jdbcType=VARCHAR}, 
      #{createdTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.fline.datasecurity.zj.dao.entity.SecurityHandler">
    insert into c_security_handler
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="taskcode != null">
        taskCode,
      </if>
      <if test="datasource != null">
        datasource,
      </if>
      <if test="secretkey != null">
        secretKey,
      </if>
      <if test="targetlocation != null">
        targetLocation,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="handlertype != null">
        handlerType,
      </if>
      <if test="lasttime != null">
        lastTime,
      </if>
      <if test="createdBy != null">
        CREATED_BY,
      </if>
      <if test="createdTime != null">
        CREATED_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="taskcode != null">
        #{taskcode,jdbcType=VARCHAR},
      </if>
      <if test="datasource != null">
        #{datasource,jdbcType=INTEGER},
      </if>
      <if test="secretkey != null">
        #{secretkey,jdbcType=VARCHAR},
      </if>
      <if test="targetlocation != null">
        #{targetlocation,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=INTEGER},
      </if>
      <if test="handlertype != null">
        #{handlertype,jdbcType=INTEGER},
      </if>
      <if test="lasttime != null">
        #{lasttime,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null">
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fline.datasecurity.zj.dao.entity.SecurityHandler">
    update c_security_handler
    <set>
      <if test="taskcode != null">
        taskCode = #{taskcode,jdbcType=VARCHAR},
      </if>
      <if test="datasource != null">
        datasource = #{datasource,jdbcType=INTEGER},
      </if>
      <if test="secretkey != null">
        secretKey = #{secretkey,jdbcType=VARCHAR},
      </if>
      <if test="targetlocation != null">
        targetLocation = #{targetlocation,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="handlertype != null">
        handlerType = #{handlertype,jdbcType=INTEGER},
      </if>
      <if test="lasttime != null">
        lastTime = #{lasttime,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null">
        CREATED_BY = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        CREATED_TIME = #{createdTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fline.datasecurity.zj.dao.entity.SecurityHandler">
    update c_security_handler
    set taskCode = #{taskcode,jdbcType=VARCHAR},
      datasource = #{datasource,jdbcType=INTEGER},
      secretKey = #{secretkey,jdbcType=VARCHAR},
      targetLocation = #{targetlocation,jdbcType=VARCHAR},
      state = #{state,jdbcType=INTEGER},
      handlerType = #{handlertype,jdbcType=INTEGER},
      lastTime = #{lasttime,jdbcType=TIMESTAMP},
      CREATED_BY = #{createdBy,jdbcType=VARCHAR},
      CREATED_TIME = #{createdTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>