<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fline.datasecurity.zj.dao.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.fline.datasecurity.zj.dao.entity.User">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="CODE" jdbcType="VARCHAR" property="code" />
    <result column="VERSION" jdbcType="VARCHAR" property="version" />
    <result column="USERNAME" jdbcType="VARCHAR" property="username" />
    <result column="PASSWORD" jdbcType="VARCHAR" property="password" />
    <result column="MOBILEPHONE" jdbcType="VARCHAR" property="mobilephone" />
    <result column="OFFICEPHONE" jdbcType="VARCHAR" property="officephone" />
    <result column="EMAIL" jdbcType="VARCHAR" property="email" />
    <result column="MEMO" jdbcType="VARCHAR" property="memo" />
    <result column="ACTIVE" jdbcType="VARCHAR" property="active" />
    <result column="WORKNO" jdbcType="VARCHAR" property="workno" />
    <result column="POSITION" jdbcType="VARCHAR" property="position" />
    <result column="SUPERIORUNIT" jdbcType="VARCHAR" property="superiorunit" />
    <result column="CREATED_BY" jdbcType="VARCHAR" property="createdBy" />
    <result column="CREATED_TIME" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="UPDATED_BY" jdbcType="VARCHAR" property="updatedBy" />
    <result column="UPDATED_TIME" jdbcType="TIMESTAMP" property="updatedTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, NAME, CODE, VERSION, USERNAME, PASSWORD, MOBILEPHONE, OFFICEPHONE, EMAIL, MEMO, 
    ACTIVE, WORKNO, POSITION, SUPERIORUNIT, CREATED_BY, CREATED_TIME, UPDATED_BY, UPDATED_TIME
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from c_user
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from c_user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.fline.datasecurity.zj.dao.entity.User">
    insert into c_user (id, NAME, CODE, 
      VERSION, USERNAME, PASSWORD, 
      MOBILEPHONE, OFFICEPHONE, EMAIL, 
      MEMO, ACTIVE, WORKNO, 
      POSITION, SUPERIORUNIT, CREATED_BY, 
      CREATED_TIME, UPDATED_BY, UPDATED_TIME
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}, 
      #{version,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{mobilephone,jdbcType=VARCHAR}, #{officephone,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{memo,jdbcType=VARCHAR}, #{active,jdbcType=VARCHAR}, #{workno,jdbcType=VARCHAR}, 
      #{position,jdbcType=VARCHAR}, #{superiorunit,jdbcType=VARCHAR}, #{createdBy,jdbcType=VARCHAR}, 
      #{createdTime,jdbcType=TIMESTAMP}, #{updatedBy,jdbcType=VARCHAR}, #{updatedTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.fline.datasecurity.zj.dao.entity.User">
    insert into c_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        NAME,
      </if>
      <if test="code != null">
        CODE,
      </if>
      <if test="version != null">
        VERSION,
      </if>
      <if test="username != null">
        USERNAME,
      </if>
      <if test="password != null">
        PASSWORD,
      </if>
      <if test="mobilephone != null">
        MOBILEPHONE,
      </if>
      <if test="officephone != null">
        OFFICEPHONE,
      </if>
      <if test="email != null">
        EMAIL,
      </if>
      <if test="memo != null">
        MEMO,
      </if>
      <if test="active != null">
        ACTIVE,
      </if>
      <if test="workno != null">
        WORKNO,
      </if>
      <if test="position != null">
        POSITION,
      </if>
      <if test="superiorunit != null">
        SUPERIORUNIT,
      </if>
      <if test="createdBy != null">
        CREATED_BY,
      </if>
      <if test="createdTime != null">
        CREATED_TIME,
      </if>
      <if test="updatedBy != null">
        UPDATED_BY,
      </if>
      <if test="updatedTime != null">
        UPDATED_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="version != null">
        #{version,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="mobilephone != null">
        #{mobilephone,jdbcType=VARCHAR},
      </if>
      <if test="officephone != null">
        #{officephone,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="memo != null">
        #{memo,jdbcType=VARCHAR},
      </if>
      <if test="active != null">
        #{active,jdbcType=VARCHAR},
      </if>
      <if test="workno != null">
        #{workno,jdbcType=VARCHAR},
      </if>
      <if test="position != null">
        #{position,jdbcType=VARCHAR},
      </if>
      <if test="superiorunit != null">
        #{superiorunit,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null">
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null">
        #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedTime != null">
        #{updatedTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fline.datasecurity.zj.dao.entity.User">
    update c_user
    <set>
      <if test="name != null">
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        CODE = #{code,jdbcType=VARCHAR},
      </if>
      <if test="version != null">
        VERSION = #{version,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        USERNAME = #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        PASSWORD = #{password,jdbcType=VARCHAR},
      </if>
      <if test="mobilephone != null">
        MOBILEPHONE = #{mobilephone,jdbcType=VARCHAR},
      </if>
      <if test="officephone != null">
        OFFICEPHONE = #{officephone,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        EMAIL = #{email,jdbcType=VARCHAR},
      </if>
      <if test="memo != null">
        MEMO = #{memo,jdbcType=VARCHAR},
      </if>
      <if test="active != null">
        ACTIVE = #{active,jdbcType=VARCHAR},
      </if>
      <if test="workno != null">
        WORKNO = #{workno,jdbcType=VARCHAR},
      </if>
      <if test="position != null">
        POSITION = #{position,jdbcType=VARCHAR},
      </if>
      <if test="superiorunit != null">
        SUPERIORUNIT = #{superiorunit,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null">
        CREATED_BY = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        CREATED_TIME = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null">
        UPDATED_BY = #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedTime != null">
        UPDATED_TIME = #{updatedTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fline.datasecurity.zj.dao.entity.User">
    update c_user
    set NAME = #{name,jdbcType=VARCHAR},
      CODE = #{code,jdbcType=VARCHAR},
      VERSION = #{version,jdbcType=VARCHAR},
      USERNAME = #{username,jdbcType=VARCHAR},
      PASSWORD = #{password,jdbcType=VARCHAR},
      MOBILEPHONE = #{mobilephone,jdbcType=VARCHAR},
      OFFICEPHONE = #{officephone,jdbcType=VARCHAR},
      EMAIL = #{email,jdbcType=VARCHAR},
      MEMO = #{memo,jdbcType=VARCHAR},
      ACTIVE = #{active,jdbcType=VARCHAR},
      WORKNO = #{workno,jdbcType=VARCHAR},
      POSITION = #{position,jdbcType=VARCHAR},
      SUPERIORUNIT = #{superiorunit,jdbcType=VARCHAR},
      CREATED_BY = #{createdBy,jdbcType=VARCHAR},
      CREATED_TIME = #{createdTime,jdbcType=TIMESTAMP},
      UPDATED_BY = #{updatedBy,jdbcType=VARCHAR},
      UPDATED_TIME = #{updatedTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>